<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Mirage Add Items</title>
</head>
<body class="document">
    <div class="sidebar">
        <div class="sidebarIcons">
            <a href="/home">
                <img class="icons" src="https://img.icons8.com/ios-glyphs/512/home.png">
                Home
            </a>
            <a href="/search">
                <img class="icons" src="https://img.icons8.com/material/512/search.png">
                Search
            </a>            
            <a class="active" href="/assign">
                <img class="icons" src="https://img.icons8.com/ios-glyphs/512/filled-plus-2-math.png">
                Add new
            </a>
            <a href="/edit">
                <img class="icons" src="https://img.icons8.com/ios-glyphs/512/pencil.png">
                Edit
            </a>
            <a href="/remove">
                <img class="icons" src="https://img.icons8.com/ios-glyphs/512/trash.png">
                Remove
            </a>
            <a href="/">
                <img class="icons" src="https://img.icons8.com/material/512/user-male-circle--v1.png">
                Profile
            </a>
        </div>
    </div>
    <div class="centralize">
        <header>
            <h1 class="titulo primary-color">Add</h1>
        </header>
            <div class="contentAddIcons">
                <a href="/room">
                    <button class="btn btn-primary">
                        <img class="addIcons" src="https://img.icons8.com/material-rounded/512/warehouse-1.png" width="50px">
                        New Room
                    </button>
                </a>
                <br>
                <a href="/beacon">
                    <button class="btn btn-secondary">
                        <img class="addIcons" src="https://img.icons8.com/material-outlined/512/radio-tower.png" width="50px">
                        New Beacon
                    </button>
                </a>
                <a href="/tag">
                    <button class="btn btn-info">
                        <img class="addIcons" src="https://img.icons8.com/material-rounded/512/tag-window.png" width="50x">
                        New Tag
                    </button>
                </a>
            </div>
    </div>
</body>
</html>