:root{
    --sidebar: rgb(84, 133, 255);
    --sidebar-hover: azure;
    --sidebar-active: rgb(96, 181, 215);
    --font: "Times New Roman", Times, serif;
    --button: #007bff
}

.sidebar{
    width: 15%;
    background-color: var(--sidebar);
    height:100%;
    float:left;
    position:fixed;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
.sidebar a.active {
    background-color: var(--sidebar-active);
    color: black;
}
.sidebar a:hover:not(.active) {
    background-color: var(--sidebar-hover);
    color: black;
}
.sidebarIcons{
    text-align: center;
    line-height: 100px;
}
.icons{
    text-align: center;
    width:35px;
}
.content{
    margin-left: 15%;
    padding: 1px 16px;
    float: left;
    font-family: var(--font);
}
.boxes{
    line-height: 60px;
    text-align: center;
}
.select{
    text-align: center;
    width: 300px;
}
.buttons{
    text-align: center;
}
.contentAddIcons{
    line-height: 150px;
    text-align: center;
}
.addIcons{
    text-align: center;
    width:130px;
}
.forms{
    line-height: 50px;
    font-size: larger;
}
.formsInput{
    background-color: var(--sidebar-hover);
    font-size: large;
    line-height: 30px;
}
.loginSidebar{
    width:25%;
    background-color: var(--sidebar);
    height:100%;
    float:left;
    position:fixed;
}
.loginContent{
    margin-left: 25%;
    text-align: center;
}
.loginSidebarItens{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    font-size: 30px;
}
.loginIcon{
    text-align: center;
    width: 200px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: var(--sidebar-hover);
}

@media screen and (max-width: 1000px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
    .loginSidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .loginSidebarItens{
        transform: translateY(0);
        font-size: 20px;
    }
    .loginIcon{
        width: 100px;
    }
    div.loginContent{
        margin-left: 0;
    }
}
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}
#trackingMap{
    border-style: dotted;
    border-color: black;
}
#titulo{
    text-align: center;
    font-size: 50px;
    font-family: var(--font);
    color: var(--button);
}
#subtitulo{
    font-size: 30px;
    font-family: var(--font);
    color: var(--button);
    font-weight: bolder;
}