:root{
    --sidebar: rgb(84, 133, 255);
    --sidebar-hover: azure;
    --sidebar-active: rgb(96, 181, 215);
    --font: "Times New Roman", Times, serif;
}

.sidebar{
    width: 15%;
    background-color: var(--sidebar);
    height:100%;
    float:left;
    position:fixed;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
.sidebar a.active {
    background-color: var(--sidebar-active);
    color: black;
  }
.sidebar a:hover:not(.active) {
    background-color: var(--sidebar-hover);
    color: black;
  }
.sidebarIcons{
    text-align: center;
    line-height: 100px;
}
.icons{
    text-align: center;
    width:35px;
}
.content{
    margin-left: 15%;
    padding: 1px 16px;
    float: left;
    font-family: var(--font);
}
.boxes{
    line-height: 60px;
    text-align: center;
}
.select{
    text-align: center;
    width: 300px;
}
.buttons{
    text-align: center;
}
.contentAddIcons{
    line-height: 150px;
    text-align: center;
}
.addIcons{
    text-align: center;
    width:130px;
}
.loginSidebar{
    width:300px;
    background-color: var(--sidebar);
    height:100%;
    float:left;
    position:fixed;
    overflow: auto;
    margin: 0;
    padding: 0;
}
.loginContent{
    margin-left: 50%;
    padding: 1px 16px;
    float: left;
    text-align: center;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    color: rgb(84, 133, 255);
    padding-left: 11%;
}
.loginIcons{
    text-align: center;
    line-height: 100px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    font-size: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: var(--sidebar-hover);
}

@media screen and (max-width: 800px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}
@media screen and (max-width: 1050px) {
    .loginSidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .loginSidebar a {float: left;}
    div.loginContent {text-align: center;}
}

@media screen and (max-width: 400px) {
    .loginSidebar a {
      text-align: center;
      float: none;
    }
    #titulo{
        padding-left: 0px;
    }
}

#tableRoom{
    /* background-color: red; */
    position: relative;
    text-align: center;
    float:initial;
}

/* table hover */
table tr:hover {
    background-color: rgb(218, 227, 250);
    color: rgb(0, 0, 0);
}

/* allign tr text */
table tr td {
    text-align: center;
}
#trackingMap{
    border-style: dotted;
    border-color: black;
}
#titulo{
    padding: 1px 16px;
    margin-left: auto;
    text-align: center;
    font-size: 50px;
    font-family: var(--font);
    color: var(--sidebar);
}
#start{
    background-color: var(--sidebar);
}
#stop{
    background-color: rgb(255, 176, 176);
}